.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90vw;
  margin: 0 auto;
}

.dashboard-box {
  background-color: #FFF5E1;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 10vh;
  color: #FF6F61;
}