.background {
  background-color: #FF6F61;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  align-items: center;
}

.text {
  color: #FFF5E1;
}

.background h1 {
  color: #FFFFFF;
}
